[submodule "references/vscode-zig"]
	path = references/vscode-zig
	url = https://codeberg.org/ziglang/vscode-zig
[submodule "references/known-folders"]
	path = references/known-folders
	url = https://github.com/ziglibs/known-folders
[submodule "dependencies/dmp"]
	path = dependencies/dmp
	url = https://github.com/jassielof/dmp-zig
[submodule "references/zigjr"]
	path = references/zigjr
	url = https://github.com/williamw520/zigjr
[submodule "references/simdjzon-rpc"]
	path = references/simdjzon-rpc
	url = https://github.com/archaistvolts/simdjzon-rpc
[submodule "dependencies/docent"]
	path = dependencies/docent
	url = https://github.com/jassielof/docent
