[submodule "references/vscode-zig"]
	path = references/vscode-zig
	url = https://codeberg.org/ziglang/vscode-zig
[submodule "references/zigjr"]
	path = references/zigjr
	url = https://github.com/williamw520/zigjr
[submodule "references/simdjzon-rpc"]
	path = references/simdjzon-rpc
	url = https://github.com/archaistvolts/simdjzon-rpc
[submodule "dependencies/docent"]
	path = dependencies/docent
	url = https://github.com/jassielof/docent
