[submodule "references/vscode-zig"]
	path = references/vscode-zig
	url = https://codeberg.org/ziglang/vscode-zig
[submodule "references/zigjr"]
	path = references/zigjr
	url = https://github.com/williamw520/zigjr
[submodule "references/simdjzon-rpc"]
	path = references/simdjzon-rpc
	url = https://github.com/archaistvolts/simdjzon-rpc
[submodule "dependencies/docent"]
	path = dependencies/docent
	url = https://github.com/jassielof/docent
[submodule "references/zls"]
	path = references/zls
	url = https://github.com/zigtools/zls
[submodule "references/lsp-kit"]
	path = references/lsp-kit
	url = https://github.com/zigtools/lsp-kit
