.vscode/**
.vscode-test/**
.github/**
.git/**
.gitignore
.gitmodules
.DS_Store
*.vsix

vsc-extension-quickstart.md

lib/**
internal/**
cmd/**
tests/**
references/**
.zig-cache/**
zig-out/**

node_modules/**
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
eslint.config.js
esbuild.config.js
esbuild.js

**/*.ts
**/*.map
dist/**/*.map
